.schedule-item
{
    margin: 10px auto;
    max-width: 370px;

}

.schedule-item__image
{
    width: 85px;
}

.schedule-item__time
{
    font-size: 40px;
}

.schedule-item__title
{
    text-transform: uppercase;
}

.schedule-item:nth-child(2n) {
    margin-top: 40px;
    margin-bottom: 40px;

}

.schedule__title
{
    margin-bottom: 50px;
}

@media (max-width: 425px)
{
    .schedule-item__image
    {
        width: 100px;
    }

    .schedule-item__time
    {
        font-size: 30px;
    }

}
