.schedule-item
{
    margin: 10px auto;
    max-width: 370px;

}

.schedule-item__image
{
    width: 163px;
}

.schedule-item__time
{
    font-size: 40px;
}

.schedule-item__title
{
    text-transform: uppercase;
}

@media (max-width: 425px)
{
    .schedule-item__image
    {
        width: 120px;
    }

    .schedule-item__time
    {
        font-size: 30px;
    }

}
